.App{
  background-color: blue;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.list-view{
  background-color: red;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 30vw;
}

.item-view{
  background-color: green;
  text-align: center;
  border: 5px solid black;
  margin: 5px;
  width: 25vw;
  height: 25vw;
}

.submit{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 30vw;
}